    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Digital Collaboration Framework </h2>
              <br/>
              <p>Once the rules of partecipation are set there is no tool to ensure their application </p>
              <p>without going through long and sometimes expensive processes.</p>
              <br/>
              <p>How many time people do not take a legal action because they cannot afford legal fees or time constraints?</p>
              <br/>
              <br/>
              <p>How often people do not work together because they cannot easily define and understand the legal terms? </p>
              <br/>
              <p>Distributed ledgers technology (DLT) can track and replicate all the interactions</p>
              <p>and easily check whether or not they were compliant with the law or with the agreement terms<</p>
              <br/>
              <p>Today the most common application for DLTs are blockchains and smart contracts.</p>
              <p>They make rule enforcement by design but </p>
              <ul>
                  <li>They require a deep technology knowledge</li>
                  <li>They work only on certain strict scenarios</li>
                  <li>They do not scale wel</li>
                  <li>They resistant to the updates</li>
              </ul>
             <p>The general approach of DLTs and practical ledgers, independently from the set of rules</p>    
             <p>offers flexibility and  allow to take quick decisions on conflict resolutions or</p>
             <p>proving people are receiving the deserved benefits using one source of truth.</p>
             <p> Pled discourages people from cheating and promotes collaboration on a larger scale.
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>

              </div>
        </div>
    </section>
