    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Digital Collaboration Framework </h2>
              <br/>
              <p>Once the rules of partecipation are set there is no tool to ensure their application </p>
              <p>without going through long and sometimes expensive processes.</p>
              <p>While smart contracts and blockchains can automatically make the rule enforcement</p>
              <p> they require a deep technology knowledge, works only on certain scenarios </p>
              <p>and does not scale well and are diffult to update</p>
              <p> Without enforcing the rules by design, the general approach of DLTs can be a better trade off </p>
              <p>as they offer flexibilityand allow to quickly take a fair decisions whether during conflict resolutions</p> 
              <p> or ensuring people are aware of and receiving the deserved benefits by make one view compatible with any another</p>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>

              </div>
        </div>
    </section>
