    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Digital Collaboration Framework </h2>
              <br/>
              <div class="lead">Once the rules of partecipation are set there is no tool to ensure their application without going through long and sometimes expensive processes. </div>
              <br/>
              <div class="lead">How many time people do not take a legal action because they cannot afford legal fees or time constraints?</div>
              <div class="lead">How often people do not work together because they cannot easily define and understand the legal terms? </div>
              <br/>
              <div class="lead">Distributed ledgers technology (DLT) can track and replicate all the interactions</div>
              <div class="lead">and easily check whether or not they were compliant with the law or with the agreement terms<</div>
              <br/>
              <div class="lead">Today the most common application for DLTs are blockchains and smart contracts. They make rule enforcement by design but ... </div>
              <ul>
                  <li>They require a deep technology knowledge</li>
                  <li>They work only on certain strict scenarios</li>
                  <li>They do not scale wel</li>
                  <li>They resistant to the updates</li>
              </ul>
             <div class="lead">The general approach of DLTs and practical ledgers, independently from the set of rules offers flexibility and  allow to take quick decisions on conflict resolutions or proving people are receiving the deserved benefits using one source of truth. </div>
             <div class="lead"> Pled discourages people from cheating and promotes collaboration on a larger scale.</div>
              <br/>
              <br/>
              <br/>
              </div>
        </div>
    </section>
